@font-face {
  font-family: "Inter-regular";
  src: url("./_assets/fonts/Inter-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Inter-regular";
}

::-webkit-scrollbar {
  width: 0px;
}
